@model IEnumerable<hirmudemja.Models.SisenenudLahkunud>

@{
    ViewBag.Title = "Lahkus";
}

<h2>Lahkus</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Eesnimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sisenes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lahkus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Eesnimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sisenes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lahkus)
        </td>
        <td>
            @Html.ActionLink("Märgi Väljunuks", "MargiValjunuks", new { id=item.id }, new { @class = "my-class" })
        </td>
    </tr>
}

</table>
